#sidebarA{
    color: white;
}

#filterResults{
    font-size: 12px;
    color: white;
    background-color: #64cbdb;

}

.theme{
    background-color: #3b4d7e;
}

.select{
    font-style: italic;
    opacity: .7;
}

.mapboxgl-ctrl-geocoder--input {
    padding: 6px 30px;
    margin-left: 5px;
}

.listings .item {
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: inline-block;
    width: 100%;
    color: #3b4d7e;
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #3b4d7e;
}


.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    text-align: center;
    padding: 5;
    max-width: 85vw;
    max-height: 25vh;
    overflow-y: scroll;
    overflow-x: scroll;
  }

.mapboxgl-popup-close-button {
    display: none;
  }

.mapboxgl-popup-content h3 {
    color:black;
    font-weight: 500;
    margin: 0;
    display: block;
    

  }

  .mapboxgl-ctrl-top-right{
    display: none;
  }

  .popupContent {
      width: 100%;
      height: 100%;
      /* background: linear-gradient(70deg, orange, crimson); */
  }

  .popupContent .header {
      width: 100%;
      position: sticky;
      top: 0;
      background-color: #fff;
  }
  
  .mapboxgl-popup-content {
      padding: 0px 10px 15px;
    }

  
